.header {
    height : var(--header-height) ; 
    background-image: linear-gradient(0 , #fe6433,  #f53e2d)
}
.header__navbar{
    display: flex  ; 
    justify-content: space-between ; 
}
.header__navbar-list {
    /* Lam mat dau cham ben canh */
    list-style: none ; 
    padding-left : 0 ; 
    margin : 4px -60px 0 0 ; 
    display: flex;
}

.header__navbar-item {
    margin: 0  8px; 
    position : relative ; 
    min-height: 24px ; ;
}

.header__navbar-item-info{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__navbar-item-info-img{
    width : 17px ; 
    height: 17px ; 
    border-radius: 50%;
    margin: 0 8px ; 
    border : 1px solid rgba(0 ,0, 0, 0.2 ) ; 
}
.header__navbar-item-info-name{
    font-size: 1.2rem;
    font-weight: 400; 
    color: var(--white-color) ; 
    margin-right: 100px ;
}

.header__navbar-item-info:hover .header__navbar-user-menu{
    display : block ; 
}
.header__navbar-user-menu {
    position: absolute ; 
    padding-left: 0px;
    list-style: none;
    top : 125% ; 
    right: 55px ; 
    width :154px ;
    background-color: var(--white-color) ;
    z-index: 1;
    border-radius: 2px;
    box-shadow:  0 1px 2px #e0e0e0;
    display: none;
    
}
/* Tạo lớp giả mũi tên */
.header__navbar-user-menu::before {
    content: "" ; 
    border-width: 20px 30px ;
    border-style : solid ; 
    border-color: transparent transparent var(--white-color) transparent ; 
    position: absolute ;
    top: -28px ; 
    right: 50px ;
}
.header__navbar-user-item{
   /* padding: 10px 0 4px 0px; */
}
.header__navbar-user-item--sparate{
    border-top : 1px solid rgba(0 , 0 , 0 , 0.05)  ; 
}
.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color) ;     
    padding : 13px 13px 10px 22px;
    display: block ;
    
    

}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px ;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px ;
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
    color: #19bbca ; 

}

.header__navbar-item--has-notify:hover .header__notify {
    display: block ; 
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block ; 
}
.header__navbar-item ,.header__navbar-item-link{ 
    /* Day cho cac item cung mot hang ngnag  */
    display :inline-block ; 
    /* Tang phong chu  */
    font-size : 1.4rem ; 
    /* bo dau gach chan  */
    text-decoration: none;
    color : var(--white-color) ; 
    /* bo do day  */
    font-weight: 300 ; 
}
.header__navbar-item ,
.header__navbar-item-link , 
.header__navbar-icon-link {
    display: inline-flex ; 
    align-items : center ; 
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover, 
.header__navbar-item-link:hover {
    cursor : pointer ; 
    color : rgba(255 , 255 , 255 , 0.7) ; 
}

.header__navbar-item--strong {
    font-weight: 400; 
}
/* ::after : Tao yeu to gia khonng can tao div  */
.header__navbar-item--sparate::after {
    content : "" ; 
    display : block ; 
    position: absolute  ; 
    height: 16px ; 
    width:1px ; 
    background-color : #fa867b ; 
    right:  -10px  ;
    top : 0 ;  
    /* transform : translateY(-50%) ;  */
}
.header__navbar-icon-link {
    color : var(--white-color) ; 
    text-decoration: none ;
}

.header__navbar-icon{
    font-size: 1.6rem ; 
    margin: 0 4px ; 
}
.header__navbar-title--no-poiter{
    cursor: text  ; 
    color: var(--white-color) ; 
}

/* header QR */

.header__qr {
    width : 182px ; 
    background-color: var(--white-color) ; 
    position: absolute ; 
    left: 0 ; 
    top: 100% ; 
    padding : 8px ; 
    /* bo viền  */  
    border-radius: 3px ; 
    display : none ; 

}

.header__navbar-qr {
    width : 100% ; 
}
.header_qr-apps {
    display : flex ; 
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px ;
}

.header__qr-link:nth-child(2){
    margin-right: 10px ;
}
.header__qr-dowload {
    height: 15px ; 
    
 
}
/* header thông báo  */
 {

 }

.header__notify {
    position : absolute ; 
    z-index: 1;
    top :  118% ; 
    width: 400px ; 
    right: 20px ; 
    border: 1px solid #D3D3D3 ; 
    background-color: var(--white-color);
    /* thay đổi tâm xuất hiện  */
    transform-origin: 90% top;
    /* làm hiện thẻ thông báo  */
    animation: HeaderNotifyGrowth ease-in 0.25s;
    border-radius: 2px;
    display: none  ; 
}

.header__notify::before {
    content: "" ; 
    border-width: 20px 30px ;
    border-style : solid ; 
    border-color: transparent transparent var(--white-color) transparent ; 
    position: absolute ;
    top: -28px ; 
    right: 2px ;
    /* background-color: var(--primary-color); */
    
}

/* hiện thẻ thông báo  */
@keyframes HeaderNotifyGrowth {
    from {
        transform: scale(0);
    }    
    to {
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px ; 
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999 ; 
    margin: 0 0 0 13px ; 
    line-height: 40px ;
    font-weight: 400;
    font-size: 1.4rem ; 
}
.header__notify-list {
    padding-left:  0;
}

.header__notify-item {
    display: flex ; 
    padding : 16px 16px 0 0 ; 
}

.header__notify-item:hover {
    background-color: #ebe7e7 ; 
}

.header__notify-item--viewed {
    background-color: rgba(240, 71, 38, 0.1);
}

.header__notify-link {
    display: flex ; 
    margin-left: 12px ;
    text-decoration: none ;

}

.header__notify-img {
    width: 48px ; 
    object-fit: contain;
    
}

.header__notify-info {
  margin-left: 12px ; 
  
}

.header__notify-name {
    display: block ; 
    color: var(--text-color) ; 
    font-size: 1.6rem ; 
    font-weight: 400;
    line-height: 1.6rem ;
}

.header__notify-descriotion{
    margin-top: 10px ;
    display: block ; 
    color: #756F6E ; 
    line-height: 1.5rem ;
    font-size: 1.3rem ; 
}

.header__notify-footer {
    display: flex  ;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color) ;
    margin: auto ; 
    padding : 12px 16px ; 
    font-size: 1.4rem ; 
    font-weight: 400;
}




/* auth form  */



.auth-form {
    width: 400px ;
}
.auth-form__container {
    padding: 0 32px ;
}

.auth-form__header  {
   align-items: center;
    display: flex ; 
    justify-content: space-between;
}

.auth-form__heading {
    color: var(--text-color) ;
    font-size: 2.2rem;
    font-weight: 500;
}
.auth-form__switch-btn {
    font-size:1.6rem ; 
    font-weight: 700;
    color: red ; 
    cursor: pointer;
}

.auth-form__form {
 
}

.auth-form__group {
    margin-top: 15px ;
 
}

.auth-form__input {
    width: 100% ; 
    height: 38px ;
    padding : 0 12px ; 
    font-size: 1.3rem ;
    border-radius: 32px ;
    border: 1px solid var(--border-color) ; 
    outline: none ; 
}
.auth-form__input:focus {
    border-color: #888 ;
}

.auth-form__aside {
    margin-top : 16px ;
    
}


.auth-form__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color) ; 
    text-decoration: none;
}

.auth-form__control {
    margin-top : 80px ; 
    display: flex ; 
    justify-content: flex-end;
}
.btn-back {
    margin-right: 6px ; 
}


.auth-form__socials {
    background-color:  #f5f5f5;
    padding: 16px 32px  ; 
    display: flex ; 
    justify-content: space-between;
    margin-top: 10px ;
}


.auth-form__socials-icon{
    font-size: 1.6rem ; 
     ; 
}
.auth-form__socials--facebook {
    background-color: #0c66dd ;
    color : var(--white-color) ; 
}
.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color) ; 
   
}

.auth-form__socials-text {
    margin: 0 14px  ; 
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666 ; 
}

.auth-form__helf {
    display : flex ; 
    justify-content:  flex-end;

}

.auth-form__link-helf {
    font-size: 13px ;
    text-decoration: none ;
    color: #939393 ; 
}
.auth-form__seperate {
    display: block ; 
    border-left: 1px solid var(--border-color) ; 
    height: 12px ; 
    margin:2px 16px 0 ; 
}

.auth-form__link-helf-forgot {
    color: var(--primary-color) ; 
}


                        /* search */
.header-with-search {
    display: flex ; 
    align-items: center;
    height : var(--header-search-height) ; 
}
.header-logo {
    width: 230px ; 

}

.header-logo-img {
    width:149px  ; 
    color: var(--white-color) ;
}

.header-search {
    flex : 1 ; 
    height: 40px ; 
    background-color: var(--white-color); 
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header-cart {
   width: 200px ; 
   text-align: center;
  
}

.header-cart-wrap{
    position: relative ; 
    display: inline-block;
    padding : 0 10px ; 
    cursor: pointer;
}
.header-cart-icon {
    font-size: 2.5rem ; 
    color: var(--white-color) ; 
}

.header-cart-list {
    position: absolute ; 
    background-color: var(--white-color) ;
    top : calc( 100% + 9px )  ; 
    right: 1px  ; 
    width: 350px ; 
    border-radius: 2px ;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s ; 
    cursor: default;
}

.header-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px ; 
    font-size: 1.4rem;
    color: #999  ; 
    font-weight: 400;
}
.header-cart-list-items{
    padding-left: 0 ; 
    list-style: none;
}
.header-cart-item{
    display: flex;
    align-items: center;

}
.header-cart-item:hover {
    background-color: #F8F8F8 ; 
}
.header-cart-img{
    width: 50px ;
    height: 50px;
    margin: 12px ;
    border: 1px solid #999;
    
}
.header-cart-item-info{
    width: 100% ; 
}
.header-cart-item-remove{
  
}
.header-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 2px ;  */
   
}
.header-cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color)  ; 
    margin: 0 ;
}
.header-cart-item-price-wrap{
    margin-right: 8px ; 
}
.header-cart-item-price{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color)  ; 
}
.header-cart-item-multil{
    font-size: 0.9rem;
    color: #757575 ; 
    margin : 0 4px ;
}
.header-cart-item-cnt{
    color: #757575 ; 
    font-size: 1rem;
}
.header-cart-item-body{
    display: flex ;
    justify-content: space-between;
    margin-top: 6px ;
}
.header-cart-item-description{
    color :#757575; 
}
.header-cart-item-remove{
    margin-right : 8px ; 
    font-size: 1.2rem;
    color: #5c5c5c ; 
}
.header-cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color) ; 
}
.header-cart-view {
    width: 10% ; 
    float: right ; 
    margin: 0 8px 8px 0  ;
}
.header-cart-view:hover {
    background-color: #F05D41;
}
.header-cart-wrap:hover .header-cart-list{
    display : block  ;
}
.header-cart-list::after {
    content: "" ; 
    position : absolute ; 
    right : -2px ;
    top : -30px ; 
    border-style: solid ;
    border-width: 20px  24px ;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header-cart-list--no-cart .header-no-cart-img ,
.header-cart-list--no-cart .header-cart-list--msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-no-cart-img {
    width : 60% ;
    display: none;

}
.header-cart-list--msg {
    display: none ; 
    margin-top: 15px ; 
    font-size : 1.4rem ; 
    color : var(--text-color) ;
}
.header-cart-list--no-cart {
    padding : 28px 0  ;
}
.header-cart-notice{
    top: -2px;
    right: -2px;
    position: absolute;
    margin-top: -10px;
    padding: 1px 7px;
    background-color: var(--white-color);
    font-size: 1.6rem;
    color: var(--primary-color) ; 
    border-radius: 10px;
    line-height: 1.6rem;
    border: 2px solid #EE4D2D ; 
}

.header-search-input-wrap{
    flex : 1 ;
    height:100% ; 
    position: relative;
}
.header-search-input {
    width: 100%;
    height : 100% ; 
    color : var(--text-color) ; 
    font-size : 1.4rem ; 
    border:  none;
    text-decoration: none ;
    padding : 0 16px ;
    outline : none ; 

}

.header-search-input:focus ~ .header-search-history {
    display: block ; 
}
.header-search-history {
    position:absolute ; 
    background-color: #fff ;
    width: calc(100% - 16px) ; 
    top : calc(100% + 2px) ; 
    left  :0 ; 
    border-radius: 3px ; ;
    box-shadow: 0 0 3px #666;
    display : none ; 
    /* cursor: pointer; */
    overflow: hidden;
    z-index: 1  ;
}
.header-search-select { 
    border-left: 1px solid #ccc  ; 
    padding-left: 16px ;
    position :  relative  ;
    cursor: pointer;
}
.header-search-select-text {
    font-size: 1.3rem; 
    color: #333 ; 
}
.header-search-select-icon {
    margin : 0 16px ;
}


.header-search-btn{
    background-color: var(--primary-color) ; 
    height : 34px ;
    width: 61px ; 
    outline: none;
    border-radius: 3px ;
    margin-right: 3px ;
    border-color: white;
}

.header-search-btn-icon{
    color: white ; 
    font-size: 1.4rem;
}

.header-search-btn:hover {
    cursor: pointer;
    background-color: #ea7760 ; 

}

.header-search-select:hover .header-option{
    display : block ; 
    
}
.header-option {
    position: absolute ; 
    right: 0 ; 
    top: 100% ;
    margin-top:12px ;
    list-style: none;
    width : 168px ; 
    /* padding-left: 0; */
    display : none ; 
    /* cursor: pointer; */
    animation: fadeIn ease-in 0.2s ; 
    
}
/* Làm cầu để di chuyển hover */
.header-option::after {
    content: "";
    display:block  ; 
    width: 100% ; 
    height: 15px ; 
    position: absolute ; 
    top: -15px ; 
    left: 0 ; 
    /* background-color: var(--primary-color); */

}

.header-option-item{
    background-color: var(--white-color) ;
    border-radius: 3px;
    padding: 8px 8px ;   
    text-align: right; 
}

.header-option-item:hover{
    cursor: pointer;
    background-color: #ebe1e1;
}
.option-text { 
    color:var(--text-color) ; 
    font-size: 1.3rem ; 
}
.option-icon {
    color: var(--primary-color) ; 
    font-size : 1.4rem ; 
    margin-left: 15px ; 
}

    /* Search history */
.header-search-history-text{
    margin: 8px 8px ; 
    font-size: 1.4rem;
    color: #999 ;
    font-weight: 400; 
}

.header-search-history-list { 
    list-style: none;
    padding-left : 0  ;
    margin-bottom: 0 ;
    
}

.header-search-history-item {
    height: 38px ; 
    padding : 5px 9px ; 
}
.header-search-history-item:hover {
    background-color: #fafafa;
}

.header-search-history-item a {
    text-decoration: none;
    color: var(--text-color)  ; 
    font-size: 1.4rem ;
    display: block ; 
}


/* App__container */
.app__container {
    background-color:#f5f5f5 ;
  
}
.app-content{
    margin-top : 24px ; 
   
}
.category{
    background-color:#ffffff ;
}

.category__heading{
    padding : 8px 16px ; 
    margin-top: 0 ;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0 , 0 , 0 , 0.05);
    border-radius: 2px;
}
.category__heading-icon {
    font-size: 1.6rem;
    margin-right: 4px ;

}
.category--list{
    list-style: none;
    padding-left: 0;
}
.category--item{

}
.category-active{
    
}
.category-active .category--item-link{ 
    
    color: var(--primary-color);
}
.category-active .category--item-link::before{
    content:"" ; 
    position : absolute ;
    border-color: transparent transparent transparent var(--primary-color);
    top  : 6px ; 
    left :12px ;
    border-width: 4px;
    border-style:  solid ; 
   
}
.category--item-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding : 4px 30px ;
    display: block; 

    transition: right linear 0.1s ;
    right: 0 ; 
}
.category--item-link:hover{
    color: var(--primary-color) ; 
    right : -4px ; 
}

/* Content */
.home-filter{
    display: flex ;
    align-items: center;
    padding: 15px 24px ; 
    background-color: #ededed ;
    border-radius: 2px;
}

.home-filter__label{
    color : #555555; 
    font-size: 1.4rem;
    margin-right: 15px;
}
.home-filter__btn {
    margin-right :10px  ; 
    min-width : 90px  ; 
    background-color: #ffffff;
}

.home-filter-page{
    display: flex ;
    align-items: center;
    /* justify-content: space-around ; */

    margin-left:auto ; 
}
.home-filter-page-num{
    display: flex;
    align-items: center;
    margin-right: 22px ;
    font-size: 1.4rem ; 
    color: var(--text-color) ; 
}

.home-filter-control{
   display: flex ;
   width: 72px ; 
   height: 36px ; 
   border-radius: 2px ;
}
.home-filter-page-num-pri{
    color:var(--primary-color) ;
    font-size: 1.4rem;
    margin-right: 2px ;
}
.home-filter-btn{
    background-color: var(--white-color);
    flex:1 ; 
    display: flex ;
    text-decoration: none;

    
}
.home-filter-btn-disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter-btn-disable .home-filter-btn-icon{
    color: #ccc; 
}
.home-filter-btn:first-child{
    border-right: 1px solid #eee ; 
   
}
.home-filter-btn-icon{
    margin: auto ; 
    font-size: 1.3rem ;
    color: #555 ;
}


/* Product */
.product{
    flex-direction: column;
    flex-wrap: wrap;
}
.product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position :relative ;
}
.product-item-img{
    padding-top: 100% ;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
}
.product-item-name{
    margin:10px ; 
    color:var(--text-color) ; 
    font-size : 1.3rem ; 
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem ; 
    overflow: hidden;
    /* Tạo dấu ba chấm */
    display: block;
    display: -webkit-box ;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
.product-item-price{
    display: flex;
    /* justify-content: space-between; */
}
.product-item-price-old{
    font-size: 1.3rem;
    margin-left: 10px;
    color: rgba(0,0,0,.54); 
    text-decoration: line-through;
}
.product-item-price-current{
    font-size: 1.5rem;
    color:var(--primary-color) ; 
    margin-left: 5px;

}
.product-item-action{
    display: flex; 
    justify-content: space-between ;
    margin: 10px 10px 5px 10px ; 

}
.product-item-like{
    font-size: 1.3rem;
}
.product-item-like-liked{

}
i.product-item-like-liked-icon-fill{
    display: none; 
    color: rgb(234, 43, 43) ; 
}
.product-item-like-liked .product-item-like-liked-icon-fill{
    display: inline-block ;
}
.product-item-like-liked .product-item-like-liked-icon-empty{
    display: none;
}
.product-item-rate{
    font-size: 1rem;
    color:#d6d6d6 ; 
    transform: scale(0.8);
    margin-left: auto;
}
.product-item-rate-color{
    color : #ffce3f ; 
}
.product-item-sold{
    color: var(--text-color) ; 
    font-size: 1.2rem ; 
    margin-left: 2px ; 
}
.product-item-origin{
    display:flex ; 
    
    margin: 10px 10px 0; 
    font-size: 1.2rem;
    font-weight: 300;
}
.product-item-origin-address{
    margin-left: auto  ;
}
.product-item-favourite{
    position: absolute ; 
    top: 10px ; 
    color: var(--primary-color) ;
    background-color: currentColor;
    left: -4px ;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block;
    line-height: 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.product-item-favourite::after{
    content: "" ; 
    border-top: 3px solid currentColor ; 
    border-left: 3px solid transparent;
    position: absolute;
    bottom: -3px ; 
    left:  0 ;
    filter: brightness(60%);

}
.product-item-favourite i {
    font-size: 0.7rem;
    margin-right: 5px ;
    color: var(--white-color);
    
}
.kk{
    margin-left: 5px;
    right:0 ;
    color: var(--white-color);

}
.home-product-item-sale-off{
    height : 31px ; 
    width : 36px ; 
    position: absolute;
    right: 0 ; 
    top: 0 ;
    background-color: rgb(255,218,75);
    text-align: center;
    
}
.home-product-item-sale-off::after{
    content: "" ;
    left: 0;
    bottom: -4px;
    border-width: 0 18.4px 4px;
    border-style: solid ;
    border-color: transparent rgb(255,218,75)  transparent rgb(255,218,75) ;
    position: absolute;
}
.home-product-item-sale-off-percent{
    color: #d96328  ;
    font-size: 1.3rem;
    font-weight: 400;
}
.home-product-item-sale-off-lable{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white-color) ; 
}